.eventDetails {
  margin-bottom: 1rem !important;
}

.repeatInput {
  width: 4rem !important;
}

.gridColumn {
  padding-bottom: 0 !important;
  min-width: 175px !important;
}
.gridLabels {
  display: flex !important;
  justify-content: center !important;
}
