.placeholderWrapper {
  :global(.active.loader:before) {
    background-color: transparent;
  }

  .message {
    font-size: 1.5rem;
    color: black;

    &.inverted {
      color: white;
    }
  }
}
