.bookingCreationSection {
  color: black;

  .progressBarContainer {
    padding: 0;

    .progressBar {
      margin: 0;
      border-radius: 0;

      :global(.bar) {
        border-radius: 0;
      }
    }
  }
}
