<!DOCTYPE html>
<html lang="en">
  Dear {{ name }},<br />
  <br />
  Someone (hopefully you) has requested to reset the password for the Treeckle
  account associated with {{ email }}. Please find the new password below:<br />
  <br />
  Password:
  <b>{{ password }}</b
  ><br />
  <br />
  You can login to your account at {{ host }}. Upon logging in, do update the
  password as desired.<br />
  <br />
  If you did not request a new password, please let us know immediately by
  forwarding this email to {{ support_email }}.<br />
  <br />
  <br />
  Yours Sincerely,<br />
  Treeckle Team
</html>
