<!DOCTYPE html>
<html lang="en">
  Dear {{ name }},<br />
  <br />
  {{ description }}. Please refer to the details below.<br />
  <br />
  <br />
  Name: {{ name }}<br />
  <br />
  Email: {{ email }}<br />
  <br />
  Organization: {{ organization }}<br />
  <br />
  Venue: {{ venue }}<br />
  <br />
  Created at: {{ created_at }}<br />
  <br />
  Booking title: {{ booking_title }}<br />
  <br />
  Time slot: {{ time_slot }}<br />
  <br />
  Previous status: {{ previous_status|lower|capfirst }}<br />
  <br />
  <b>New status: {{ new_status|lower|capfirst }}</b
  ><br />
  <br />
  <br />
  Yours Sincerely,<br />
  Treeckle Team
</html>
