@use "../../base";

.bookingBaseTable {
  @include base.table;

  div {
    box-shadow: none;
  }

  .extraContentContainer {
    width: 100%;
  }

  .detailsContainer {
    :global(.row) {
      padding: 0.5rem 0;
    }
  }
}
