@use "../../base";

.calendarWrapper {
  height: 80vh;
  min-height: 37.5rem;
  color: black;
}

.new {
  background-color: base.$teal-color !important;
}

.approved {
  background-color: base.$green-color !important;
}

.pending {
  background-color: base.$orange-color !important;
}

.rejected {
  background-color: base.$red-color !important;
}

.cancelled {
  background-color: base.$light-grey-color !important;
}

:global(.rbc-month-view .rbc-date-cell) {
  min-height: 50px; /* Adjust height based on your design */
  padding-bottom: 10px; /* Ensures space below existing events is clickable */
}

:global(.rbc-month-view .rbc-date-cell .rbc-button-link) {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.5rem;
  text-align: left;
  padding-bottom: 150px;
}

