@use "../../base";

.userAuthSection {
  :global {
    .row {
      padding: 0.5rem 0 !important;
    }
  }

  .greenText {
    color: base.$green-color;
  }

  .redText {
    color: base.$red-color;
  }
}
