.signInButtonContainer {
  width: 40%;

  .signInButton {
    color: white !important;
    background: transparent !important;
    border: solid 1px white;

    &:hover {
      color: #2185d0 !important;
      border-color: #2185d0;
    }
  }
}
