.toastBody {
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
}

.app {
  :global {
    @media only screen and (min-width: 1200px) {
      .ui.container {
        width: 90%;
      }
    }

    .text-viewer {
      white-space: pre-wrap;
      word-break: break-word;
    }

    .hidden-display {
      display: none;
    }

    .align-center {
      align-items: center;
    }

    .justify-end {
      justify-content: flex-end;
    }

    .justify-center {
      justify-content: center;
    }

    .flex-display {
      display: flex;
    }

    .pointer {
      cursor: pointer;
    }

    .full-width {
      width: 100%;
    }

    .hover-dimming {
      :hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}
