.toastBody {
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
}

.app {
  :global {
    .hidden-display {
      display: none;
    }

    .align-center {
      align-items: center;
    }

    .justify-end {
      justify-content: flex-end;
    }

    .justify-center {
      justify-content: center;
    }

    .flex-no-grow {
      flex-grow: 0;

      &.important {
        flex-grow: 0;
      }
    }

    .flex-display {
      display: flex;
    }

    .pointer {
      cursor: pointer;
    }
  }
}
