@use "../../base";

.bookingBaseTable {
  @include base.table;
  cursor: pointer;

  div {
    box-shadow: none;
  }

  .extraContentContainer {
    width: 100%;
    padding-left: 60px;
    // Required so checkbox does not hide expanded row
  }

  .detailsContainer {
    :global(.row) {
      padding: 0.5rem 0;
    }
  }
}
