@use "../../base";

.venueFormGallery {
  display: flex;
  flex-direction: column;
  @include base.vertical-space-margin(0);

  @media only screen and (min-width: 992px) {
    flex-direction: row;
    overflow-x: auto;
    transform: rotateX(180deg);

    > * {
      transform: rotateX(180deg);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #acacac;
  }
}
